<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>WE TRAVELLERS</title>
    <link href="/bundle.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">
</head>
<body>
    <form th:action="@{/forgot-password}" method="post" class="form-signin" autocomplete="off" onsubmit="submitButton.disabled = true; return true;">
        <div class="text-center mb-4">
            <a href="/"><img class="mb-2" src="/src/images/brac-logo.svg" width="130" height="72" /></a>
            <p>Recover Forgot Password</p>
            <h1 class="h3 mb-3 font-weight-normal"></h1>
            <p th:if="${error}" th:text="${error}" class="help-block-error"><p>
            <p th:if="${message}" th:text="${message}"><p>
        </div>

        <div class="form-label-group">
            <input tabindex="1" type="email" placeholder="Email" required
                   maxLength="150" minlength="1" name="email" class="form-control" id="email"
                   autofocus />
            <label for="email">Email</label>
        </div>
        <div class="help-block-error text-center" th:if="${param.error}">
            Invalid username and password.
        </div>

        <button name="submitButton" tabindex="3" class="btn btn-lg btn-slum-submit btn-block" type="submit">Submit</button>
    </form>
</body>
</html>